mixin card()
    .card
        block body
            .card-body
                h5.card-title Card title
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.

