include ../blocks/blocks
include ../blocks/libs/_libs

block variables

doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include _head
        title Pug template
    body
        block content
            h1 Layout content
        include _scripts


