extends ../layout

block content
    +header
        +navbar
            +navbar-brand('GrandpaJS')
            +nav('About', 'navbar-nav flex-row')
    main
        +categories('Laptops')
        +categories('Cars')
    +footer(footItems_1, footItems_2, footItems_3)